<h1><%= podcast.get('title') %></h1>

<a class="subscribe pure-button">
    <% if (podcast.get('subscribed')){ %>
        Unsubscribe
    <% } else { %>
        Subscribe
    <% } %>
</a>

<a class="pure-button" href="<%= podcast.get('link') %>">
	Official Site
</a>

<% if (podcast.get('subscribed')){ %>
	<a class="settings pure-button">
		Settings
	</a>
<% } %>

<a class="updateEpisodes pure-button">
	Update Episodes
</a>

<p><%= podcast.get('description') %></p>

<h2>Episodes</h2>
<ul id="episodes" class="episodes">
	
</ul>