#currentlyPlaying{
	padding: 0;
	margin: 10px 0;
	float:left;
	width: 100%;
	display:none;
	@media screen and (min-width: $break-mid) {
		display:block;
	}
	
	li{
		border:none;
		padding: 0;
		list-style:none;
		background:none;
	}
	.podcastThumb{
		width: 35px;
		height: 35px;
		margin: 0 10px 0 0;
	}
}

.home #currentlyPlaying{
	display: block;
}