#currentlyPlaying{
	padding: 0;
	margin: 10px 0;
	float:left;
	li{
		border:none;
		padding: 0;
		list-style:none;
		background:none;
	}
	.podcastThumb{
		width: 35px;
		height: 35px;
		margin: 0 10px 0 0;
	}
}