/**
 * Offset the audio player so in iOS it's hidden for reals.
 */
#podcastPlayer{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	opacity: 0;
}

#player {
	overflow:hidden;
	padding: 20px;
	background-color: #eee;
	audio{
		display: none;
	}
}

.mejs-container {
	margin-bottom: 20px;
}

.mejs-back10-button{

}

/*.mejs-back10-button {
	color: #fff;
	display: block;
	height: 17px;
	width: auto;
	padding: 8px 3px 0 3px;
	overflow: hidden;
	text-align: center;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	span{
		color: #fff;
		font-size: 11px;
		line-height: 12px;
		display: block;
		float: left;
		margin: 1px 2px 0 0;
		width: auto;
	}
}*/