#menu {
	background-color: $black;
	color: $white;
	height: 45px;
	text-align:center;
	
	> div{
		padding-top: 10px; 
		padding-bottom: 10px;
		overflow:hidden;
	}

	#menuLink{
		float: left;
		padding: 5px 15px 0 0;
		> div{
			background: url(../img/navicon.png) repeat-x 0 0;
			width: 30px;
			height: 20px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}

	nav{
		position:absolute;
		bottom: 0;
		top: 45px;
		z-index: 10;
		background: rgba(0,0,0,0.9);
		text-align: left;
		padding-right: 30px;
		border-right: 1px solid $black;
		left: -100%;

		-moz-transition:left 0.5s;
		-webkit-transition:left 0.5s;
		transition:left 0.5s;

		&.open{
			-moz-transition:left 0.2s;
			-webkit-transition:left 0.2s;
			transition:left 0.2s;
			left: 0;
		}
	}
	ul {
		
		li {
			margin: 5px 0;
			padding: 7px 0;
		}
	}

	a{
		color: $white;
		text-decoration: none;
	}

	.batch:before {
		padding-right: 10px;
	}
}

#pageTitle{
	font-size: 1.2em;
}


// Worst ID name ever :(
#navMenu{

}