/*body{
	min-width: $break-small;
	@media screen and (min-width: $break-small) {
		min-width: $break-small;
	}
	@media screen and (min-width: $break-mid) {
		min-width: $break-mid;
	}
	@media screen and (min-width: $break-large) {
		min-width: 0;
	}
}*/

#menu {
	background-color: $black;
}
@font-face{
    font-family:'Batch';
    src:url('../assets/batch.eot');
    src:url('../assets/batch.eot?#iefix') format('embedded-opentype'),
      url('../assets/batch.woff') format('woff'),
      url('../assets/batch.ttf') format('truetype'),
      url('../assets/batch.svg#batchregular') format('svg');
    font-weight:normal;
    font-style:normal;
  }
#player {
	min-height: 120px;
	padding: 20px;
	background-color: #eee;
	audio{
		display: none;
	}
	.audiojs{
		float: left;
		margin-right: 20px;
		width: 100%;
	}
}
.red {
	color: red;
}
#queue {
	min-height: 300px;
	padding: 0;
	/*ul {
		list-style: none;
		margin-left: 0px;
		padding-left: 0px;
		li {
			padding: 7px 10px;
			border-bottom: 1px solid #ccc;
			a {
				text-decoration: none;
				color: #111;
			}
		}
	}*/
}


#content {
	min-height: 460px;
}
h1 {
	margin: 0;
	padding: 0.6em 0.3em;
}

nav#menu {
	a {
		color: $white;
		float: left;
		text-decoration: none;
		font-size: 1.2em;
	}
	text-align: right;
	display: block;
	ul {
		display: inline-block;
		margin: 0 10px 0 0;
		li {
			display: inline-block;
			margin-right: 15px;
			.batch {
				padding: 16px 2px;
			}
		}
	}
}

#currentlyPlaying{
	width: 100%;
}

#myPodcasts {
	ul {
		li {
			
		}
	}
}

.batch {
    font-family: 'Batch'; /*or whatever you've decalred your font name as*/
    font-size: 16px;
    line-height:1;
    display:inline-block;
}

    .batch.large { font-size:32px; }
    .batch.huge { font-size:64px; }
    .batch.natural { font-size:inherit; }

.batch:before {
    content:attr(data-icon);
}