/*body{
	min-width: $break-small;
	@media screen and (min-width: $break-small) {
		min-width: $break-small;
	}
	@media screen and (min-width: $break-mid) {
		min-width: $break-mid;
	}
	@media screen and (min-width: $break-large) {
		min-width: 0;
	}
}*/


@font-face{
    font-family:'Batch';
    src:url('../assets/batch.eot');
    src:url('../assets/batch.eot?#iefix') format('embedded-opentype'),
      url('../assets/batch.woff') format('woff'),
      url('../assets/batch.ttf') format('truetype'),
      url('../assets/batch.svg#batchregular') format('svg');
    font-weight:normal;
    font-style:normal;
  }


#content {
	
}
#container{
  padding-top: 50px;
}
h1 {
	margin: 0;
	padding: 0.6em 0;
}

.container{
  padding-left: 10px;
  padding-right: 10px;
}

.batch {
    font-family: 'Batch'; /*or whatever you've decalred your font name as*/
    font-size: 16px;
    line-height:1;
    display:inline-block;
}

    .batch.large { font-size:32px; }
    .batch.huge { font-size:64px; }
    .batch.natural { font-size:inherit; }

.batch:before {
    content:attr(data-icon);
}