.podcastList{
	padding: 0;
	overflow:hidden;
	margin-left: -30px;
	li{
		list-style:none;
		float: left;
		margin-left: 30px;
		margin-bottom: 30px;
		position: relative;
		@media screen and (min-width: $break-mid) {
			&:hover div{
		    	opacity: 1;
		    }
		}
	}
	img, canvas {
		top: 0;
		left:0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
	}
	a{
		height: 60px; 
		width: 120px;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: rgba(0,0,0,0.10);
		color: #333;
		text-decoration: none;
		font-weight: 500;
		padding-top: 60px;
	}
	div{
		display:block;
		position:absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		text-align: center;
		background-color: rgba(0,0,0,0.75);
		padding: 15px 5px;
		font-size: 20px;
		color: #fff;
		font-size: 0.8em;

		@media screen and (min-width: $break-mid) {
			opacity: 1;
			-moz-transition:opacity linear 0.1s;
		    -webkit-transition:opacity linear 0.1s;
		    -o-transition: opacity linear 0.1s;
		    transition: opacity linear 0.1s;
		}
	}
	.addPodcast{
		background-size: 50px 50px;
		background-position: center center;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowNEI2QTBDRjIzNDcxMUUxQTNFRkEyREJCOUI2NzA1MCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowNEI2QTBEMDIzNDcxMUUxQTNFRkEyREJCOUI2NzA1MCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA0QjZBMENEMjM0NzExRTFBM0VGQTJEQkI5QjY3MDUwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA0QjZBMENFMjM0NzExRTFBM0VGQTJEQkI5QjY3MDUwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+uY2DIgAAAD1JREFUeNrs1LEJADAIRcG4/7SZwIwQBRvhXv3xOiMzT6PfOKqHAgwGg1fCLXmoCwaDR2EvEwwGg0s9AQYAJVR/RccZS10AAAAASUVORK5CYII=);
	}
}