/* Our Stuff - Right now I nicked the css off http://purecss.io/menus/ - it's not a great c&p job, just some filler for now. */
#layout{
	padding-left: 175px;
	padding-top: 70px;
}
ol, ul, menu {
	padding: 0;
	list-style: none;
}

nav#menu{
	margin-left: -175px;
	width: 175px;
	position: fixed;
	top: 0;
	left: 175px;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	overflow-y: auto;
}
	#menuLink{
		display: none;
	}

	.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
		background: transparent;
		border:none;
	}

	.pure-menu li a{
		color: #999;
	}

	.pure-menu li a:hover{
		background: #333;
	}
	#menu .pure-menu-heading {
		font-size: 110%;
		color: #fff;
		border: none;
	}
	#menu li.pure-menu-heading {
		font-size: 100%;
		color: #eee;
		border: none;
	}

#player, #main{
	width: 100%;
}

.container{
	margin: 0 auto;
	width: 95%;
}

#player{
	background: #191818;
	position: fixed;
	top:0;
	height: 50px;
	color: #999;
	padding: 10px 20px;
}

	#player audio{
		width: 40%;
		display: none;
	}
	#player .audiojs{
		float: left;
		margin-right: 20px;
	}
	/*#player */#currentlyPlaying{
		width: 100%;
	}

#myPodcasts {
	margin-left: -20px;
}

.podcastItem {
	height: 100px; 
	display: block;
	background: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 0 20px 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	padding-top: 100px;
}
	.podcastItem>p {
		opacity: 0;
		height: 50px;
		text-align: center;
		background-color: rgba(0,0,0,0.75);
		padding: 15px 5px;
		font-size: 20px;

		-moz-transition:opacity linear 0.1s;
	    -webkit-transition:opacity linear 0.1s;
	    -o-transition: opacity linear 0.1s;
	    transition: opacity linear 0.1s;
	}
	.podcastItem:hover>p {
		opacity: 1;
	}

	.podcastItem.addPodcast{
		background-size: 50px 50px;
		background-position: center center;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowNEI2QTBDRjIzNDcxMUUxQTNFRkEyREJCOUI2NzA1MCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowNEI2QTBEMDIzNDcxMUUxQTNFRkEyREJCOUI2NzA1MCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA0QjZBMENEMjM0NzExRTFBM0VGQTJEQkI5QjY3MDUwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA0QjZBMENFMjM0NzExRTFBM0VGQTJEQkI5QjY3MDUwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+uY2DIgAAAD1JREFUeNrs1LEJADAIRcG4/7SZwIwQBRvhXv3xOiMzT6PfOKqHAgwGg1fCLXmoCwaDR2EvEwwGg0s9AQYAJVR/RccZS10AAAAASUVORK5CYII=);
	}

#main{
}