@font-face {
  font-family: Batch;
  src: url("../assets/batch.eot");
  src: url("../assets/batch.eot?#iefix") format("embedded-opentype"), url("../assets/batch.woff") format("woff"), url("../assets/batch.ttf") format("truetype"), url("../assets/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#menu {
  background-color: #020202; }

@font-face {
  font-family: 'Batch';
  src: url("../assets/batch.eot");
  src: url("../assets/batch.eot?#iefix") format("embedded-opentype"), url("../assets/batch.woff") format("woff"), url("../assets/batch.ttf") format("truetype"), url("../assets/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#player {
  min-height: 120px;
  padding: 20px;
  background-color: #eee; }
  #player audio {
    display: none; }
  #player .audiojs {
    float: left;
    margin-right: 20px;
    width: 100%; }

.red {
  color: red; }

#queue {
  min-height: 300px;
  padding: 0; }
  #queue ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px; }
    #queue ul li {
      padding: 7px 10px;
      border-bottom: 1px solid #ccc; }
      #queue ul li a {
        text-decoration: none;
        color: #111; }

#content {
  min-height: 460px; }

h1 {
  margin: 0;
  padding: 0.6em 0.3em; }

nav#menu {
  text-align: right;
  display: block; }
  nav#menu a {
    color: white;
    float: left;
    text-decoration: none; }
  nav#menu ul {
    display: inline-block;
    margin: 0 10px 0 0; }
    nav#menu ul li {
      display: inline-block;
      margin-right: 5px; }
      nav#menu ul li .batch {
        padding: 16px 2px; }

#currentlyPlaying {
  width: 100%; }

.podcastItem {
  height: 80px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 40px; }

.batch {
  font-family: 'Batch';
  /*or whatever you've decalred your font name as*/
  font-size: 16px;
  line-height: 1;
  display: inline-block; }

.batch.large {
  font-size: 32px; }

.batch.huge {
  font-size: 64px; }

.batch.natural {
  font-size: inherit; }

.batch:before {
  content: attr(data-icon); }

#podcastPlayer {
  width: 100%; }

.mejs-container {
  margin-bottom: 20px; }
