@font-face {
  font-family: Batch;
  src: url("../assets/batch.eot");
  src: url("../assets/batch.eot?#iefix") format("embedded-opentype"), url("../assets/batch.woff") format("woff"), url("../assets/batch.ttf") format("truetype"), url("../assets/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#menu {
  background-color: #020202; }

@font-face {
  font-family: 'Batch';
  src: url("../assets/batch.eot");
  src: url("../assets/batch.eot?#iefix") format("embedded-opentype"), url("../assets/batch.woff") format("woff"), url("../assets/batch.ttf") format("truetype"), url("../assets/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#player {
  min-height: 120px;
  padding: 20px;
  background-color: #eee; }
  #player audio {
    display: none; }
  #player .audiojs {
    float: left;
    margin-right: 20px;
    width: 100%; }

.red {
  color: red; }

#queue {
  min-height: 300px;
  padding: 0;
  /*ul {
  	list-style: none;
  	margin-left: 0px;
  	padding-left: 0px;
  	li {
  		padding: 7px 10px;
  		border-bottom: 1px solid #ccc;
  		a {
  			text-decoration: none;
  			color: #111;
  		}
  	}
  }*/ }

#content {
  min-height: 460px; }

h1 {
  margin: 0;
  padding: 0.6em 0.3em; }

nav#menu {
  text-align: right;
  display: block; }
  nav#menu a {
    color: white;
    float: left;
    text-decoration: none; }
  nav#menu ul {
    display: inline-block;
    margin: 0 10px 0 0; }
    nav#menu ul li {
      display: inline-block;
      margin-right: 5px; }
      nav#menu ul li .batch {
        padding: 16px 2px; }

#currentlyPlaying {
  width: 100%; }

.podcastItem {
  height: 80px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 40px; }

.batch {
  font-family: 'Batch';
  /*or whatever you've decalred your font name as*/
  font-size: 16px;
  line-height: 1;
  display: inline-block; }

.batch.large {
  font-size: 32px; }

.batch.huge {
  font-size: 64px; }

.batch.natural {
  font-size: inherit; }

.batch:before {
  content: attr(data-icon); }

#podcastPlayer {
  width: 100%; }

.mejs-container {
  margin-bottom: 20px; }

ul.episodes > li {
  overflow: hidden;
  position: relative;
  padding: 7px 10px;
  border-bottom: 1px solid #ccc; }
ul.episodes .percentCompleted {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f0f0f0;
  width: 50%;
  z-index: -1;
  /* Dirty, but beats doing more css. */ }
ul.episodes .podcastThumb {
  float: left;
  background: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: #eee 2px solid;
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0; }
ul.episodes .details {
  display: block;
  float: left;
  height: 50px;
  margin: 0 20px 0 0;
  width: 300px; }
ul.episodes .title {
  display: block;
  height: 35px; }
ul.episodes ul.meta {
  display: block;
  color: #777;
  font-size: 0.9em;
  padding: 0;
  margin: 0; }
  ul.episodes ul.meta li {
    float: left;
    list-style: none; }
    ul.episodes ul.meta li:first-child {
      margin-right: 25px; }
ul.episodes .controls {
  float: left;
  margin-top: 10px; }
  ul.episodes .controls a:first-child {
    margin-right: 15px; }
  ul.episodes .controls .playPause.loading {
    color: #666; }
  ul.episodes .controls .queue.active {
    color: #666; }
